dt, dd {
    display: inline-block;
}

dt {
    font-weight: bolder;
}

dt::after {
    content: ": "
}

dd::after {
    content: '';
    display: block;
}

.vertical-button-group button {
    display: block;
    margin-bottom: .5rem;
}